.messageBtn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 25px;
    align-items: center;
    gap: 16px;
}

.imageUser {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 1px solid black;
    /*overflow: hidden;*/
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 20px;
}
