.MyTextArea {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.testArea {
    height: auto;
    min-height: 200px;
    max-height: 400px;
    padding: 5px 10px;
    font-size: 20px;
    background: transparent;
    max-width: 80vw;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid gray;
}

.title {
    font-size: 18px;
    margin-bottom: 5px;
    margin-left: 10px;
}
