.wrapprerInput {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.searchIcon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.inputAddress {
    padding: 5px 40px;
    font-size: 20px;
    background: transparent;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid gray;
    box-sizing: border-box;
    width: 100%;
}

.deleteBtn {
    position: absolute;
    right: 15px;
    z-index: 10;
    color: gray;
    padding: 5px;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
        background-color: var(--main-color-hover);
    }
}

.suggestionAddress {
    padding: 5px 10px;
    margin: 6px;
    font-size: 20px;
    background: transparent;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid gray;
    width: fit-content;
    transition: 0.2s;
}

.suggestionAddress:hover {
    background-color: darkgray;
}

.highlightAddress {
    text-decoration: none;
    background-color: transparent;
}

.title {
    font-size: 18px;
    margin-left: 10px;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}
